/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    font-size: 14px;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 0px 48px;
    max-width: 1440px;
    margin: auto;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* From Andrei Neagoie: ZTM web dev 0 to mastery */


  h1 {
    color: rgb(228, 34, 34);
    font-weight: 100;
    font-size: 3rem;
    font-family: Helvetica, sans-serif;
    margin: 40px 0px 8px 0px
  }

  header > span {
    font-size: 25px;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    line-height: 25%;
  }

  nav {
    margin: 10px 0;
    padding: 0px 0px 30px
  }

  nav > a {
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid rgb(223, 221, 221);
    padding-bottom: 3px;
    color: rgb(223, 221, 221);
  }

  h3 {
    font-size: 30px;
    color: rgb(187, 187, 187);
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
  }
  
  p > span {
    float: left;
    font-size: 70px;
    color: rgb(202, 202, 202);
    line-height: 90%;
    width: .7em;
  }

section > a {
    display: block;
    text-align: right;
    color: rgb(207, 26, 26);
    text-decoration: none;
    font-weight: bold;
}

.divider {
    height: 1px;
    background-color: rgb(230, 230, 230);
    margin: 40px 0px;

}